<!DOCTYPE html>
<html>
  <head>
    <title>Calgary Community Garden Map</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" href="gardenMap.css">
  </head>
  <body>
    <div id="map"></div>
    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9O38Vmhu9lQ51nzcojDxifDQnO67lYXU&map_ids=52ff285bd1833867&callback=initMap">
    </script>
    <script src="gardenMap.js"></script>
  </body>
</html>