body {
  height: 100%;
  margin: 0;
  }
  
html {
  height: 100%;
  box-sizing: border-box;
}

.pageBackground {
  background-color: #8EE4AF;
  width: 100%;
  height: 100vh;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #379683;
  color: #EDF5E1;
}

.about-subsection {
  padding: 20px;
  background-color: #8EE4AF;
}

.about-subsection:nth-child(odd) {
  background-color: #EDF5E1;
}

.about-subsection li {
  margin-left: 17px;
}

.about-cards {
  display: flex;
  flex-wrap: wrap;
}

.about-column {
  width: 25%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 1000px) {
  .about-column {
    width: 50%;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 650px) {
  .about-column {
    width: 100%;
    flex-wrap: wrap;
  }
}

.card {
  box-shadow: 0 4px 8px 0 #05386B;
  margin: 8px;
  background-color: #EDF5E1;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
  
.team-image {
  border-radius: 10px 10px 0px 0px;
  height: 275px;
}

.groupmember-container {
  margin-top: 5px;
  padding: 0 16px;
  height: 50%;
}

.About-button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: #EDF5E1;
  background-color: #379683;
  text-align: center;
  cursor: pointer;
  width: 100%;
  justify-self: flex-end;
}

.button:hover {
  background-color: #05386B;
}

.logoColumn {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.logoColumn img {
  vertical-align: middle;
  justify-content: space-between;
  padding: 25px;
  height: 125px;
}     
