@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');

.pageBody {
  background-color: #8EE4AF;
  width: 100%;
  height: 100%;
}

.pageNavbar {
  background-color: #05386B;
}

li a {
  color: #EDF5E1;
}

.app-title {
  color: #5CDB95;
  font-family: 'Pattaya', sans-serif;
}