@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');

.pageBody {
  background-color: #8EE4AF;
  width: 100%;
}

.pageNavbar {
  background-color: #05386B;
}

li a {
  color: #EDF5E1;
}

.app-title {
  color: '#5CDB95';
  font-family: 'Pattaya', sans-serif;
}

.round-background{
    border-radius: 20px;
    background-color: #379683;
    color: #EDF5E1;
    padding: 20px;
    margin: 10px;
    font-family: 'Recursive', sans-serif;
    font-size: 19px;
}

.section-heading{
  text-align: center;
}

.about-our-garden {
  display: flex;
  justify-content: space-around;
}

.about-our-garden-text {
  padding-right: 10px;
}

.about-our-garden-photo {
  width: 100%;
  max-width: 1500px;
  border-radius: 20px;
}

.messages-and-to-do {
  display: flex;
  justify-content: stretch;
  width: 100%;
}

.message-board,
.to-do-list {
  width: 50%;
}