table {
    font-family: Arial, Helvetica, sans-serif;
    color:#05386B;
    border-collapse: collapse;
    max-width: 1vw;
  }
  
  table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  table tr {
    text-align: center;
    background-color: #edf5e1
  }

  table tr:nth-child(even){background-color: #EDF5E1;}
  
  table tr:hover {background-color: #ddd;}
  
  table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #05386B;
    color: white;
  }