* {
  padding: 0;
  margin: 0;
}

.signupForm {
  justify-content: center;
  display: flex;
}

.signupForm h1 {
  text-align: center;
  margin-top: 0px;
}

.signupForm .container {
  border: 5px solid rgb(147, 206, 83);
  padding: 20px;
}

.signupForm label {
  display: block;
  margin-top: 10px;
}

.signupForm input {
  padding: 5px;
}

.signupButton {
  display: block;
  padding: 5px;
  margin: 20px auto;
  font-size: 1.25rem;
  background-color: rgb(147, 206, 83);
  border-radius: 5px;
  cursor: pointer;
}

.currentPlantsSelection label {
  display: inline;
}

#alreadyHaveAnAccount,
#dontHaveAnAccount {
  text-align: center;
}
#alreadyHaveAnAccount a,
#dontHaveAnAccount a {
  text-decoration: none;
}
#alreadyHaveAnAccount a:visited,
#dontHaveAnAccount a:visited {
  color: rgb(147, 206, 83);
}

.signupSpan {
  font-weight: bold;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  /* position: relative; */
}
