.Garden-table-and-map {
  display: "flex"; 
  flex-flow: "row wrap";
  justify-content: 'space-around';
  margin-top: '25px';
  margin-bottom: '25px';
}

.Garden-list-and-form {
  text-align: center;
  background-color: #EDF5E1;
  width: 400px;
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: #05386B;
  border: 1px solid #05386B;
  margin: 10px;
  border-radius: 20px;
}

.Garden-map {
  padding: 20px;
}

.Garden-display-container {
  display: flex; 
  flex-flow: row wrap;
  justify-content: space-around; 
  margin-top: 25px; 
  margin-bottom: 25px; 
} 

.welcome-and-weather {
  display: flex;
}

.welcome-content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.welcome-content p {
  font-size: 1.2rem;
  margin-right: 20px;
  color: #EDF5E1;
}

.welcome{
  margin: 10px;
  border-radius: 20px;
  background-color: #379683;
}

.welcome-header{
  text-align: center;
  background-color: #05386B;
  color: #5cdb95;
  margin: 10px 0px 0px 10px;
  font-size: 25px;
  border-radius: 20px 20px 0 0;
  font-family: 'Recursive', sans-serif;
}

.welcome-header-container{
  min-height: 60px;
  background-color: #05386B;
  color: #EDF5E1;
  padding: 10px;
  border-radius: 20px 20px 0 0;
  font-family: 'Recursive', sans-serif;
  /* display: flex; */
  justify-content: space-between;
}

.search-below-bar {
  border-radius: 20px;
  background-color: #05386B;
  color: #5cdb95;
  padding: 20px;
  margin: 10px;
  font-family: 'Recursive', sans-serif;
  font-size: 25px;
  text-align: center;
}

.arrow {
  padding-left: 20px;
  padding-right: 40px;
  color: #EDF5E1;
}

.welcome-photo {
  width: 100%;
  max-width: 1500px;
  border-radius: 20px;
  padding-right: 10px;
}