.Garden-list-and-form {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.gardenlistandformbuttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px;
  border: 4px solid darkgreen;
  border-radius: 4px;
  padding: 20px;
  background-color: yellow; 
}

.button {
  font-family: monospace;
  font-size: 10px;
  font-weight: 900;
  color: darkred;
  background-color: lightgreen;
  border: 4px solid darkgreen;
  border-radius: 2px;
  margin: 10px;
}

